/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
datasets/*
!datasets/moma-data/Artists.csv.gz
!datasets/moma-data/Artworks.csv.gz
doc/other.md
